*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.food-web{
    display: flex;
}
.fitness{
    display: flex;
}
.header-name{
    background-image: url(images/shapes/bYIno-unsplash.jpg);
    background-size: cover;
    
    text-align: center;
    text-shadow: 1px 1px gray;
    height: 200px;
}
#color-food{
    color: #F43353;
}
.heading-edit{
    font-size: 6em;
}
#author-name{
    color: green;
}
.navbar{
    box-shadow: 10px 5px 40px rgba(128, 128, 128, 0.836);
    background-color: #F43353;
    padding: 1% 7%;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 70px;
}
.navbar a:hover{
    color: rgb(235, 218, 67);
}
.description-one{
    width: 90%;
    text-align: left;
    margin: 50px 30px 0px 100px;
    padding-top: 70px;
}
.description-one h1{
    font-size: 5em;
}
.link-button {
    box-shadow: 5px 10px 30px gray;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
    text-shadow: 1px 1px gray;
    padding: 15px 25px;
    background-image: linear-gradient(to bottom right, #F43353,#F43353, rgb(245, 136, 154));
    border-radius: 25px;
}
.male-image{
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 100px;
}
.fitness{
    background-image: url("images/shapes/Frame\ 58.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 80px;
}
.female-image{
    width: 100%;
}
.female-image img{ 
    margin-top: 150px;
    margin-left: 220px;
}
.description-two{
    text-align: center justify;
    padding: 100px;  
    margin-left: 50px;
}
.description-two h6{
    font-size: 1em;
    font-weight: 400;
}
.recipe-description{
    text-align: center;
    margin: 100px;
}
.recipe-images{
    display: flex;
    margin-left: 140px;
    margin-right: 80px;
    margin-bottom: 100px;
}
.recipe-card-one{
    width: 380px;
    box-shadow: 10px 20px 30px gray;
    text-align: center;
    margin-right: 80px;
    padding: 15px;
    border-radius: 25px;
}
.recipe-card-two{
    width: 380px;
    box-shadow: 10px 20px 30px gray;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
}
.recipe-card-three{
    width: 380px;
    box-shadow: 10px 20px 30px gray;
    text-align: center;
    margin-left: 80px;
    padding: 15px;
    border-radius: 25px; 
}
.follower-status{

    height: 200px;
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 80px;
    display: flex;
    padding: 10px;
    box-shadow:10px 20px 30px gray; 
    border-radius: 20px;
}
.width-alignment-one{
    text-align: center;
    width: 380px;
    margin-top: 50px;
    margin-left: 50px;
}
.footer-design{
    text-shadow: 2px 2px black;
    padding: 50px 0px 10px 0px;
    color: white;
    text-align: center;
    height: 200px;
    background-image: linear-gradient(to right, rgb(54, 50, 50), black, black,rgb(54, 50, 50));
}
