*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.food-web{
    display: flex;
}
.header-name{
    text-align: center;
    text-shadow: 1px 1px gray;
    height: 200px;
}
#color-food{
    color: #F43353;
}
.heading-edit{
    font-size: 6em;
}
#author-name{
    color: green;
}
.navbar{
    box-shadow: 10px 5px 40px rgba(128, 128, 128, 0.836);
    background-color: #F43353;
    padding: 1% 7%;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 50px;
}
.navbar a:hover{
    color: rgb(235, 218, 67);
}
.description-one{
    width: 75%;
    text-align: center;
    margin: 50px 30px 0px 100px;
    padding-top: 80px;
}
.description-one h1{
    font-size: 5em;
}
.male-image{
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 100px;
}
.fitness{
    background-image: url("images/shapes/Frame\ 58.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 80px;
}